html {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #D06A6F;
  color:  #F0E7D8;
}

a {
  text-decoration: none;
}